{% load thumbnail %}
{% load i18n %}


<a class="navbar-item has-text-weight-semibold is-size-7" href="/">
  <i class="fas fa-home mr-3"></i>
  QGIS Certification Home
</a>
<div class="navbar-item has-dropdown is-hoverable p-0">
  <a class="navbar-link has-text-weight-semibold is-size-7">
    <i class="fas fa-users mr-3"></i>
    Organisations
  </a>
  <div class="navbar-dropdown">
    <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'certifyingorganisation-list' %}">
      <i class="fas fa-users mr-3"></i>
      Approved Organisations
    </a>
    {% if user.is_staff %}
      <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'pending-certifyingorganisation-list' %}?ready=False">
        <i class="fas fa-clock mr-3"></i>
        Pending Organisations - Not Ready
      </a>
      <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'pending-certifyingorganisation-list' %}?ready=True">
        <i class="fas fa-check-circle mr-3"></i>
        Pending Organisations - Ready
      </a>
    {% endif %}
    <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'archived-certifyingorganisation-list' %}?ready=True">
      <i class="fas fa-archive mr-3"></i>
      Archived Organisations
    </a>
  </div>
</div>
<div class="navbar-item has-dropdown is-hoverable p-0">
  <a class="navbar-link has-text-weight-semibold is-size-7">
    <i class="fas fa-certificate mr-3"></i>
    Verify Certificates
  </a>
  <div class="navbar-dropdown">
    <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'validate-certificate-organisation' %}">
      <i class="fas fa-certificate mr-3"></i>
      For Certifying Organisation
    </a>
    <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url 'validate-certificate' %}">
      <i class="fas fa-certificate mr-3"></i>
      For Attendee
    </a>
  </div>
</div>

<a class="navbar-item has-text-weight-semibold is-size-7"
href="https://qgis.org/community/certification/" target="_blank">
  <i class="fas fa-info-circle mr-3"></i>
  About
</a>