{% extends "base_with_sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h1>Add Certificate</h1>
{% endblock page_title %}

{% block content %}
    <div class="box-content">
        <h3 class="title is-4">Are you sure you want to issue this certificate?</h3>
        <p><span class="has-text-weight-semibold">Attendee:</span> {{ attendee }}</p>
        <p><span class="has-text-weight-semibold">Course:</span> {{ course.name }}</p>
        <p><span class="has-text-weight-semibold">Certificate type:</span> {{ certificate_type.name }}</p>
        <h4 class="subtitle is-5">Your organisation credits will be deducted by {{ course.certifying_organisation.project.certificate_credit }}</h4>

        <section id="forms" style="margin-top: 30px;">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="field is-grouped">
                    <p class="control">
                        <button type="submit" class="button is-success">Confirm</button>
                    </p>
                    <p class="control">
                        <a class="button is-light" href="{% url 'course-detail' organisation_slug=course.certifying_organisation.slug slug=course.slug %}">
                            Cancel
                        </a>
                    </p>
                </div>
            </form>
        </section>
    </div>
{% endblock %}
