{% extends "base_with_sidebar.html" %}
{% load custom_markup %}

{% block title %}Revoke Certificate - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<h1 class="title">Revoke Certificate</h1>
<form action="" id="delete-confirmation" method="post" class="box-content">{% csrf_token %}
    <div class="notification is-danger is-light">
        <p>Are you sure you want to revoke the certificate below? (This action is irreversible)</p>
    </div>
    <div>
        <h3 class="title is-4">Certificate: {{ certificate.certificateID }}</h3>
        <h4 class="subtitle is-5">Course: {{ certificate.course.course_type.name }} ({{ certificate.course.start_date }} to {{ certificate.course.end_date }})</h4>
        <h4 class="subtitle is-5">Attendee: {{ certificate.attendee.firstname }} {{ certificate.attendee.surname|default_if_none:"" }}</h4>
    </div>
    <div class="buttons is-right">
        <a class="button is-danger"
           href="#"
           onClick="document.getElementById('delete-confirmation').submit()"
           title="Revoke {{ certificate.certificateID }}">
            <span class="icon">
                <i class="fas fa-trash"></i>
            </span>
            <span>Revoke</span>
        </a>
        <a class="button is-light"
           href='{% url "course-detail" organisation_slug=certificate.course.certifying_organisation.slug slug=certificate.course.slug %}'
           title="Cancel">
            <span class="icon">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span>Cancel</span>
        </a>
    </div>
</form>
{% endblock %}
