{% extends "base_with_sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h1 class="title">Send Email</h1>
{% endblock page_title %}

{% block content %}
<h1>Are you sure you want to regenerate the PDF of this certificate?</h1>
<div class="box-content mt-3">
    <table class="table is-hoverable is-fullwidth">
        <tbody>
            <tr>
                <th>ID:</th>
                <td>{{ id }}</td>
            </tr>
            <tr>
                <th>Attendee:</th>
                <td>{{ attendee.firstname }} {{ attendee.surname|default_if_none:"" }}</td>
            </tr>
            <tr>
                <th>Course:</th>
                <td>{{ course.certifying_organisation.project }} - {{ course.course_type.name }} ({{ course.start_date }} to {{ course.end_date }})</td>
            </tr>
        </tbody>
    </table>
    <div class="notification is-danger is-light">
        <p>Note: If you regenerate this certificate, the current certificate will be deleted and unrecoverable.</p>
    </div>
    <form id="regenerate" action="." method="POST">
        {% csrf_token %}
        <div class="buttons">
            <button type="submit" class="button is-success">Submit</button>
        </div>
    </form>
</div>
{% endblock %}