{% extends "base_with_sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}
{% endblock page_title %}

{% block content %}
<h1>Send Email</h1>
    <div class="box-content mt-3">
        <h4 class="subtitle">Are you sure you want to send email for the following course attendees along with the link to their certificates?</h4>
        <div>
            <ul>
                {% for attendee in attendees %}
                    <li>{{ attendee }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="notification is-primary3 is-light mt-3">
            <p>Note: Only course attendees with paid certificates will receive the email.</p>
        </div>
        <form id="send-email" action="." method="POST" class="mt-4">
            {% csrf_token %}
            <button type="submit" class="button is-success">Submit</button>
        </form>
    </div>
{% endblock %}