{% extends "base_with_sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Top up {{ cert_organisation }}{% endblock %}

{% block page_title %}
    <h1>Top Up</h1>
{% endblock page_title %}

{% block content %}
    <style>

        .total-payment {
            font-size: 22px;
        }

        #total-amount {
            font-weight: bolder;
        }

        #creditAmount {
            font-size: 20px;
        }
    </style>
    <h1 >Top up credits for {{ cert_organisation }}</h1>
    <div class="box-content">
        <form method="post" id="top-up-form">
            {% csrf_token %}
            <div class="field">
                <label class="label" for="creditAmount">Credits</label>
                <div class="control">
                    <input 
                        class="input is-medium" 
                        id="creditAmount"
                        type="number"
                        placeholder="Credits" 
                        name="total-credits" 
                        min="0" 
                        oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                    >
                </div>
            </div>
            <div class="notification is-primary3 is-light">
                <div class="columns is-vcentered">
                    <div class="column is-two-thirds">
                        <p class="total-payment">Total Payment: {{ the_project.get_credit_cost_currency_display }} <span id="total-amount">0</span></p>
                        <p>The amount is paid directly</p>
                    </div>
                    <div class="column">
                        <button type="submit" class="button is-success is-fullwidth" id="buy" disabled>
                            PAY WITH STRIPE
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% include "stripe.html" %}

    <script>

    const $payButton = $('#buy');
    const $creditAmount = $('#creditAmount');
    const $form = $('#top-up-form');
    const creditCost = {{ the_project.credit_cost }};
    const projectId = {{ the_project.id }};
    const org = {{ cert_organisation.id }};
    const $totalAmount = $('#total-amount');
    let payButtonDisabled = true;
    let totalPayment = 0;

    $(function () {
        setTimeout(function () {
            $creditAmount.focus();
        }, 200);
    });

    let updateTotal = (e) => {
        let credits = $(e).val();
        totalPayment = parseFloat(credits) * creditCost;
        let totalPaymentDisplay = totalPayment.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
        if (isNaN(totalPayment)) {
            totalPaymentDisplay = 0;
        }

        $totalAmount.html(totalPaymentDisplay);

        if (credits > 0 && payButtonDisabled) {
            payButtonDisabled = false;
            $payButton.attr('disabled', payButtonDisabled);
        }

        if ((credits === 0 || !credits) && !payButtonDisabled) {
            payButtonDisabled = true;
            $payButton.attr('disabled', payButtonDisabled);
        }
    }

    $creditAmount.keyup(function () {
        updateTotal(this)
    });

    $creditAmount.change(function () {
        updateTotal(this)
    });

    $payButton.click(function (e) {
       e.preventDefault();
       let creditAmount = $creditAmount.val();
       if (!creditAmount) {
           alert('No credits');
           return;
       }
       creditAmount = parseFloat(creditAmount);
       let totalToPay = creditAmount * creditCost;

       if (isNaN(totalToPay)) {
           alert('error calculating total payment');
       }
       window.location = `{% url 'checkout' %}?unit=${creditAmount}&total=${totalToPay}&org=${org}`;
    });

    function stripeSourceHandler(source) {
        // Insert the source ID into the form so it gets submitted to the
        // server
        $('<input>').attr({
            type: 'hidden',
            id: 'stripe-source-id',
            name: 'stripe-source-id'
        }).appendTo($form).val(source.id);
        $form.submit();
    }

    </script>
{% endblock %}