{% extends "base_with_sidebar.html" %}
{% load custom_markup %}

{% block title %}Certifying Organisation Deleted - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<h1 class="title">Certifying Organisation Deletion</h1>
    <form action="" id="delete-confirmation" method="post" class="box-content">{% csrf_token %}
        <div class="notification is-danger is-light">
            <p>Are you sure you want to delete the certifying organisation below?</p>
        </div>
        <div>
            <h3 class="title is-4">Certifying Organisation: {{ certifyingorganisation.name }}</h3>
            <div class="columns">
                <div class="column is-8">
                    <p><strong>Address:</strong> {{ certifyingorganisation.address }}</p>
                    <p><strong>Country:</strong> {{ certifyingorganisation.country.name }}</p>
                    <p><strong>Email:</strong> {{ certifyingorganisation.organisation_email }}</p>
                    <p><strong>Phone:</strong> {{ certifyingorganisation.organisation_phone }}</p>
                    <p><strong>Organisation Owners:</strong> 
                        {% for organisation_owners in certifyingorganisation.organisation_owners.all %}
                            {% if organisation_owners.first_name %}
                                {{ organisation_owners.first_name }} {{ organisation_owners.last_name }}{{ ", " }}
                            {% else %}
                                {{ organisation_owners }}{{ ", " }}
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="buttons is-right">
            <a class="button is-danger"
               href="#"
               onClick="document.getElementById('delete-confirmation').submit()"
               title="Delete {{ certifyingorganisation.name }}">
                <span class="icon">
                    <i class="fas fa-trash"></i>
                </span>
                <span>Delete</span>
            </a>
            <a class="button is-light"
               href='{% url "certifyingorganisation-list" %}'
               title="Cancel">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Cancel</span>
            </a>
        </div>
    </form>
{% endblock %}
