{% extends "base_with_sidebar.html" %}
{% load thumbnail %}
{% load custom_markup %}
{% block title %}Certifying Organisations - {{ block.super }}{% endblock %}

{% block page_title %}
    <h1>Certifying Organisations (all)</h1>
{% endblock page_title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if 'organisation_submitted' in message.tags %}
                <div class="notification is-success">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="columns is-vcentered">
        <div class="column">
            <h1 class="m-0">
                {% if pending %} Pending {% else %}Unapproved {% endif %}
                Certifying Organisations
            </h1>
        </div>
        {% if user.is_authenticated %}
        <div class="column is-narrow">
            <div class="buttons is-pulled-right">
                <a class="button is-success tooltip"
                   href='{% url "certifyingorganisation-create" %}'
                   data-tooltip="Create New Certifying Organisation">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </a>
                <a class="button is-light tooltip"
                   href='{% url "certifyingorganisation-list" %}'
                   data-tooltip="Back">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
    {% if num_certifyingorganisations == 0 %}
        {% if unapproved %}
            <h3 class="subtitle is-4 has-text-centered">All certifying organisations are approved.</h3>
        {% else %}
            <h3 class="subtitle is-4 has-text-centered">
                No certifying organisations are defined, but you can 
                <a class="button is-success is-small" href='{% url "certifyingorganisation-create" %}'>create one</a>.
            </h3>
        {% endif %}
    {% endif %}

    {% include 'certifying_organisation/includes/certifying-organisation-datatable.html' with approved=False %}
{% endblock %}
