      <tr>
        <td>
          <div class="is-flex is-align-items-center">
            {% if courseconvener.is_active %}
              {% if courseconvener.user.first_name %}
                {{ courseconvener.user.first_name }} {{ courseconvener.user.last_name }}
              {% else %}
                {{ courseconvener.user }}
              {% endif %}
            {% elif user_can_delete %}
              <span class="has-text-grey-light is-italic">
                {% if courseconvener.user.first_name %}
                  {{ courseconvener.user.first_name }} {{ courseconvener.user.last_name }}
                {% else %}
                  {{ courseconvener.user }}
                {% endif %}
              </span>
              <span class="has-text-grey-light" style="font-size: 0.8em;">[inactive]</span>
            {% endif %}
          </div>
        </td>
        {% if user_can_delete %}
        <td class="has-text-right">
          <div class="buttons are-small is-justify-content-flex-end">
            {% if courseconvener.course_set.exists %}
              <button disabled class="button is-light is-danger has-tooltip-bottom has-tooltip-arrow"
                  data-tooltip="{% if courseconvener.is_active %}Cannot delete this Convener. Please deactivate the Convener in Edit menu.{% else %}Cannot delete this Convener. You can reactivate the Convener in Edit menu.{% endif %}">
                <span class="icon is-small">
                  <i class="fas fa-trash"></i>
                </span>
              </button>
            {% else %}
              <a class="button is-danger is-light has-tooltip-bottom has-tooltip-arrow"
                 href='{% url "courseconvener-delete" organisation_slug=certifyingorganisation.slug slug=courseconvener.slug %}'
                 data-tooltip="Delete {{ courseconvener.user.first_name }} {{ courseconvener.user.last_name }} <{{ courseconvener.user }}">">
                <span class="icon is-small">
                  <i class="fas fa-trash"></i>
                </span>
              </a>
            {% endif %}
            <a class="button is-light has-tooltip-bottom has-tooltip-arrow"
               href='{% url "courseconvener-update" organisation_slug=certifyingorganisation.slug slug=courseconvener.slug %}'
               data-tooltip="Edit {{ courseconvener.user.first_name }} {{ courseconvener.user.last_name }} <{{ courseconvener.user }}">
              <span class="icon is-small">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </a>
          </div>
        </td>
        {% endif %}
      </tr>