{% block js_head %}
<script>
  var map;
  var geojson;
  var info;
  var legend;
  var grades = [0, 1, 2, 3, 4, 5]; // Define thresholds for graduated map

  $(document).ready(function () {
    $('#map').css('height', 700);
    map = Leaflet.map('map').setView([20, 0], 2);
    Leaflet.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);

    add_layers_to_map();
    add_legends_to_map();
    add_info_to_map();
  });

  function add_info_to_map() {
    info = Leaflet.control();
    info.onAdd = function (map) {
      this._div = Leaflet.DomUtil.create('div', 'info');
      this.update();
      return this._div;
    };

    // Disable map scroll zoom when the mouse is over the info div
    $(document).on('mouseover', '.info', function() {
      map.scrollWheelZoom.disable();
    });

    $(document).on('mouseout', '.info', function() {
      map.scrollWheelZoom.enable();
    });

    info.update = function (props) {
      var info_title = '<h3>Certifying Organisations </h3>';
      var info_content = '';

      if (props) {
        info_title = '<h3>Certifying Organisations in ' + props.NAME + '</h3>';
        info_content += '<button id="zoom-to-country" class="button is-small is-light mb-3">' +
                '<span class="icon is-small"><i class="fas fa-search"></i></span>' +
                '<span>Zoom to Country</span>' +
                '</button>';
        info_content += '<div><strong>Total Organisations:</strong> ' + props.organisation_count + '</div>';
        info_content += '<hr/><div><strong>Organisations:</strong></div>';
        info_content += '<ul>';
        {% for certifyingorganisation in certifyingorganisations %}
          if (props.country === '{{ certifyingorganisation.country }}') {
            info_content += '<li><a href="{{ certifyingorganisation.get_absolute_url }}">{{ certifyingorganisation.name }}</a></li>';
          }
        {% endfor %}
        info_content += '</ul>';
      } else {
        info_content += 'Click a country';
      }
      this._div.innerHTML = info_title + info_content;
    };

    info.addTo(map);
  }

  function add_legends_to_map() {
    legend = Leaflet.control({position: 'bottomleft'});

    legend.onAdd = function (map) {
      var div = Leaflet.DomUtil.create('div', 'info legend');
      div.innerHTML += '<b>Legend</b><br>';
      for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
          '<i style="background:' + get_color(grades[i] + 1) + '"></i> ' +
          grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
      }
      return div;
    };

    legend.addTo(map);
  }

  function add_layers_to_map() {
    $.getJSON('{{ STATIC_URL }}/static/json/geo.json', function (json) {
      var layers = [];
      var country_data = {};

      {% for certifyingorganisation in certifyingorganisations %}
        var country = '{{ certifyingorganisation.country }}';
        if (!country_data[country]) {
          country_data[country] = {
            organisation_count: 0,
            country: country
          };
        }
        country_data[country].organisation_count++;
      {% endfor %}

      json.features.forEach(function (feature) {
        var country = feature.properties.ISO2;
        if (country_data[country]) {
          feature.properties.organisation_count = country_data[country].organisation_count;
          feature.properties.country = country_data[country].country;
          layers.push(feature);
        }
      });

      geojson = Leaflet.geoJson(layers, {
        style: style,
        onEachFeature: on_each_feature
      }).addTo(map);
    });
  }

  function get_color(d) {
    return d > grades[5] ? '#589632' :
           d > grades[4] ? '#7aa838' :
           d > grades[3] ? '#93b023' :
           d > grades[2] ? '#b8c94a' :
           d > grades[1] ? '#dce272' :
                           '#f9f9c5'; // Lighter color for the lowest grade
  }

  function style(feature) {
    return {
      fillColor: get_color(feature.properties.organisation_count),
      weight: 1,
      opacity: 1,
      color: '#D3D3D3',
      fillOpacity: 0.7
    };
  }

  function on_each_feature(feature, layer) {
    layer.on({
      click: function (e) {
        geojson.eachLayer(function (layer) {
          geojson.resetStyle(layer);
        });
        info.update(e.target.feature.properties);
        document.getElementById('zoom-to-country').onclick = function () {
          map.fitBounds(e.target.getBounds());
        };
        var feature = e.target;

        feature.setStyle({
          weight: 1.5,
          color: '#ee7913',
          dashArray: '',
          fillOpacity: 0.7
        });

        if (!Leaflet.Browser.ie && !Leaflet.Browser.opera) {
          feature.bringToFront();
        }
      }
    });
  }

  map.on('click', function () {
    info.update();
  });
</script>
{% endblock %}

{% block content %}
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Certifying Organisations by Country
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="container">
        <div class="container-fluid">
          <div class="row" id="map"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}