{% extends "base_with_sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_markup %}

{% block page_title %}
{% endblock page_title %}

{% block content %}

<h1>Add Course Attendee</h1>
    <div class="is-flex is-justify-content-flex-end mb-3">
        <a class="button is-success is-outlined"
           href='{% url "attendee-create" organisation_slug=certifyingorganisation.slug slug=course.slug %}'
           title="Add another attendee to the list">
            <span class="icon">
                <i class="fas fa-user-plus"></i>
            </span>
            <span>Add Attendee</span>
        </a>
    </div>

    <section id="forms">
        <div class='box-content'>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="vertical-space"></div>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" name="submit" class="button is-success" id="submit-save">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
