{% extends "base_with_sidebar.html" %}
{% load custom_markup %}

{% block title %}Course Attendee Deleted - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<h1 class="title">Course Attendee Deletion</h1>
    <form action="" id="delete-confirmation" method="post" class="box-content">{% csrf_token %}
        <div class="notification is-danger is-light">
            <p>Are you sure you want to delete the course attendee below?</p>
        </div>
        <div>
            <h3 class="title is-4">Course Attendee: {{ courseattendee.attendee }}</h3>
            <h4 class="subtitle is-5">Course: {{ courseattendee.course }}</h4>
        </div>
        <div class="buttons is-right">
            <a class="button is-danger"
               href="#"
               onClick="document.getElementById('delete-confirmation').submit()"
               title="Delete {{ courseattendee.attendee.firstname }} {{ courseattendee.attendee.surname |default_if_none:'' }}">
                <span class="icon">
                    <i class="fas fa-trash"></i>
                </span>
                <span>Delete</span>
            </a>
            <a class="button is-light"
               href='{% url "course-detail" organisation_slug=courseattendee.course.certifying_organisation.slug slug=courseattendee.course.slug %}'
               title="Cancel">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Cancel</span>
            </a>
        </div>
    </form>
{% endblock %}
