{% extends "base_with_sidebar.html" %}
{% load custom_markup %}
{% load static %}

{% block title %}Course Type - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1 class="title">Available Course Types</h1>
{% endblock page_title %}

{% block content %}

    <div class="columns">
        <div class="column">
            <h1 class="title">{{ coursetype.name }}</h1>
        </div>

        {# Only organisation owners, project owner or staff can edit #}
        <div class="column is-narrow">
            <div class="buttons">
                {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == project.owner or user in project.certification_manager.all %}
                <a class="button is-danger is-outlined has-tooltip-bottom has-tooltip-arrow"
                   href='{% url "coursetype-delete" organisation_slug=coursetype.certifying_organisation.slug pk=coursetype.pk %}'
                   data-tooltip="Delete {{ coursetype.name }}">
                    <span class="icon">
                        <i class="fas fa-minus"></i>
                    </span>
                </a>
                <a class="button is-light has-tooltip-bottom has-tooltip-arrow"
                   href='{% url "coursetype-update" organisation_slug=coursetype.certifying_organisation.slug pk=coursetype.pk %}'
                   data-tooltip="Edit {{ coursetype.name }}">
                    <span class="icon">
                        <i class="fas fa-pencil-alt"></i>
                    </span>
                </a>
                {% endif %}
                <a class="button is-light has-tooltip-bottom has-tooltip-arrow"
                   href='{% url "certifyingorganisation-detail" coursetype.certifying_organisation.slug %}'
                   data-tooltip="Back">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="box-content mt-3">
        <div class="columns">
            <div class="column is-one-quarter has-text-weight-bold">Course type</div>
            <div class="column">{{ coursetype.name }}</div>
        </div>
        <div class="columns">
            <div class="column is-one-quarter has-text-weight-bold">Description</div>
            <div class="column">{{ coursetype.description }}</div>
        </div>
        <div class="columns">
            <div class="column is-one-quarter has-text-weight-bold">Instruction hours</div>
            <div class="column">{{ coursetype.instruction_hours }}</div>
        </div>
        <div class="columns">
            <div class="column is-one-quarter has-text-weight-bold">Link</div>
            <div class="column">{{ coursetype.coursetype_link }}</div>
        </div>
    </div>

{% endblock %}
