{% extends "base_with_sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h1>Update Course Type</h1>
{% endblock page_title %}

{% block content %}
   <section id="forms">
       <div class='box-content'>
            <h3>Update Course Type for {{ organisation.name }}</h3>
            <hr/>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" name="submit" class="button is-success" id="submit-save">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
