{% extends "base_with_sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}
    <h1 class="title is-3">Add Certificate</h1>
{% endblock page_title %}

{% block content %}


<div>
    <a class="button is-light"
        href='{% url 'certifyingorganisation-detail' slug=certifying_organisation.slug %}'
        title="Cancel">
        <span class="icon">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span>Cancel</span>
    </a>
</div>
<div class="box-content mt-3">
    <div class="container">
        <h3 class="subtitle is-5">Are you sure you want to issue a certificate for {{ certifying_organisation.name }}?</h3>
    </div>

    <section id="forms">
        <div>
            {% csrf_token %}
            {% crispy form %}
            {% for form in inlines %}
                {% crispy form %}
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}
