{% extends "base_with_sidebar.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Upload Attendee CSV File</h1>

    <div class="box-content">
        <div class="columns">
            <div class="column is-half">
                <form action="" method="post" name="file" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="field">
                        <div class="control">
                            <button class="button is-success">
                                <span class="icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span>Upload</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column is-half">
                <div>
                    <h3 class="title is-5">Format for the file to be uploaded:</h3>
                    <blockquote>
                        <p>Please upload a CSV file (with a .csv extension) containing the following fields, separated by commas. The header row is required. Ensure the fields are in the correct order as shown below:</p>
                    </blockquote>
                    <table class="table is-bordered is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Surname</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>first name</td>
                                <td>surname</td>
                                <td>attendee@bar.com</td>
                            </tr>
                            <tr>
                                <td>foo</td>
                                <td>last name</td>
                                <td>attendee2@bar.com</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>You may also use this template: <a href="{% static 'docs/example.csv' %}" download>example.csv</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
