{% extends "base_with_sidebar.html" %}
{% load custom_markup %}

{% block title %}Training Center Deleted - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1 class="title">Training Center Deleted</h1>
{% endblock page_title %}

{% block content %}
    <form action="" id="delete-confirmation" method="post" class="box-content">{% csrf_token %}
        <div class="notification is-danger is-light">
            <p>Are you sure you want to delete the training center below?</p>
        </div>
        <div>
            <h3 class="title is-4">Training Center: {{ trainingcenter.name }}</h3>
            <div class="columns">
                <div class="column is-8">
                    <p><strong>Email:</strong> {{ trainingcenter.email }}</p>
                    <p><strong>Address:</strong> {{ trainingcenter.address }}</p>
                    <p><strong>Phone:</strong> {{ trainingcenter.phone }}</p>
                    <p><strong>Location:</strong> {{ trainingcenter.location }}</p>
                </div>
            </div>
        </div>
        <div class="buttons is-right">
            <a class="button is-danger"
               href="#"
               onClick="document.getElementById('delete-confirmation').submit()"
               title="Delete {{ trainingcenter.name }}">
                <span class="icon">
                    <i class="fas fa-trash"></i>
                </span>
                <span>Delete</span>
            </a>
            <a class="button is-light"
               href='{% url "certifyingorganisation-detail" trainingcenter.certifying_organisation.slug %}'
               title="Cancel">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Cancel</span>
            </a>
        </div>
    </form>
{% endblock %}
