{% extends "base_with_sidebar.html" %}
{% load custom_markup %}
{% load static %}

{% block title %}Training Center - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block js_head %}
    <script>
        var map;
        var marker;

        $(document).ready(function () {
            var lat = {{ trainingcenter.location.y }};
            var long = {{ trainingcenter.location.x }};

            // Add map
            $('#map').css({'height': 400, 'width': '100%'});
            map = Leaflet.map('map').setView([lat, long], 12);
            Leaflet.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>'
            }).addTo(map);

            var green_icon = Leaflet.icon({
                iconUrl: '/static/img/marker_green.png',
                iconSize: [30, 40],
                iconAnchor: [14, 39],
                popupAnchor: [0, -30]
            });

            marker = Leaflet.marker([lat, long], {icon: green_icon}).addTo(map);
        });
    </script>
{% endblock %}

{% block page_title %}
    <h1 class="title">Training Center Detail</h1>
{% endblock page_title %}

{% block content %}

    <div class="columns">
        <div class="column">
            <h1 class="title">{{ trainingcenter.name }}</h1>
        </div>

        {# Only organisation owners or staff can edit #}
        <div class="column is-narrow">
            <div class="buttons">
                {% if user in certifyingorganisation.organisation_owners.all or user.is_staff or user == project.owner or user in project.certification_manager.all %}
                <a class="button is-danger is-outlined has-tooltip-bottom has-tooltip-arrow"
                   href='{% url "trainingcenter-delete" organisation_slug=trainingcenter.certifying_organisation.slug slug=trainingcenter.slug %}'
                   data-tooltip="Delete {{ trainingcenter.name }}">
                    <span class="icon">
                        <i class="fas fa-minus"></i>
                    </span>
                </a>
                <a class="button is-light has-tooltip-bottom has-tooltip-arrow"
                   href='{% url "trainingcenter-update" organisation_slug=trainingcenter.certifying_organisation.slug slug=trainingcenter.slug %}'
                   data-tooltip="Edit {{ trainingcenter.name }}">
                    <span class="icon">
                        <i class="fas fa-pencil-alt"></i>
                    </span>
                </a>
                {% endif %}
                <a class="button is-light has-tooltip-bottom has-tooltip-arrow"
                   href='{% url "certifyingorganisation-detail" trainingcenter.certifying_organisation.slug %}'
                   data-tooltip="Back">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <div class="box-content mt-3">
        <div class="columns">
            <div class="column is-one-quarter has-text-weight-bold">Training center name</div>
            <div class="column">{{ trainingcenter.name }}</div>
        </div>
        <div class="columns">
            <div class="column is-one-quarter has-text-weight-bold">Email</div>
            <div class="column">{{ trainingcenter.email }}</div>
        </div>
        <div class="columns">
            <div class="column is-one-quarter has-text-weight-bold">Address</div>
            <div class="column">{{ trainingcenter.address }}</div>
        </div>
        <div class="columns">
            <div class="column is-one-quarter has-text-weight-bold">Phone</div>
            <div class="column">{{ trainingcenter.phone }}</div>
        </div>
    </div>

    {% if trainingcenter.location.x %}
    <div class="box-content mt-3">
        <div id="map"></div>
    </div>
    {% endif %}

{% endblock %}