{% extends "base_with_sidebar.html" %}
{% load custom_markup %}

{% block title %}Course Convener Deleted - {{ block.super }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block page_title %}
    <h1 class="title">Course Convener Deleted</h1>
{% endblock page_title %}

{% block content %}
    <form action="" id="delete-confirmation" method="post" class="box-content">{% csrf_token %}
        <div class="notification is-danger is-light">
            <p>Are you sure you want to delete the course convener below?</p>
        </div>
        <div>
            <h3 class="title is-4">Course Convener:</h3>
            <div class="columns">
                <div class="column is-8">
                    <p><strong>Name:</strong> {{ convener.user.first_name }} {{ convener.user.last_name }}</p>
                    <p><strong>Username:</strong> {{ convener.user }}</p>
                    <p><strong>Organisation:</strong> {{ convener.certifying_organisation.name }}</p>
                </div>
            </div>
        </div>
        <div class="buttons is-right">
            <a class="button is-danger"
               href="#"
               onClick="document.getElementById('delete-confirmation').submit()"
               title="Delete {{ convener.user }}">
                <span class="icon">
                    <i class="fas fa-trash"></i>
                </span>
                <span>Delete</span>
            </a>
            <a class="button is-light"
               href='{% url "certifyingorganisation-detail" slug=convener.certifying_organisation.slug %}'
               title="Cancel">
                <span class="icon">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span>Cancel</span>
            </a>
        </div>
    </form>
{% endblock %}
