{% load static i18n %}
<nav id="sidebar" class="sidebar">
  <ul class="content-wrapper">
      <li>
        <a 
        class="button is-success is-medium has-tooltip-bottom has-tooltip-arrow" 
        data-tooltip="Sign up for Certification!"
        href="{% url 'certifyingorganisation-create' %}">
          <i class="fas fa-certificate"></i>
          {% trans "Sign Up!" %}
        </a>
      </li>
      <hr/>
    {% if user.is_staff or user in the_project.certification_managers.all %}
      {% url 'certification-management-view' as management_url %}
      <li class="{% if request.path == management_url %}is-active{% endif %}">
        <a href="{{ management_url }}">
          <i class="fas fa-tasks mr-3"></i>
          Certification Management
        </a>
      </li>
    {% endif %}
    {% url 'certifyingorganisation-list' as organisation_list_url %}
    <li class="{% if request.path == organisation_list_url %}is-active{% endif %}">
      <a href="{{ organisation_list_url }}">
        <i class="fas fa-users mr-3"></i>
        Approved Organisations
      </a>
    </li>
    {% if user.is_staff or user in the_project.certification_managers.all %}
      <li>
        <div class="has-child">
          <a onclick="toggleSubMenu('pending-organisations')">
            <i class="fas fa-clock mr-3"></i>
            Pending Organisations
          </a>
          <span onclick="toggleSubMenu('pending-organisations')" class="drop-arrow">
            <img src="{% static 'images/arrow.svg' %}"/>
          </span>
        </div>
        <ul id="pending-organisations" class="collapsed">
          {% url 'pending-certifyingorganisation-list' as pending_url %}
          <li>
            <a href="{{ pending_url }}?ready=False">
              <i class="fas fa-clock mr-3"></i>
              Not Ready
            </a>
          </li>
          <li>
            <a href="{{ pending_url }}?ready=True">
              <i class="fas fa-check-circle mr-3"></i>
              Ready
            </a>
          </li>
        </ul>
      </li>
    {% endif %}
    {% url 'archived-certifyingorganisation-list' as archived_organisation_list_url %}
    <li class="{% if request.path == archived_organisation_list_url %}is-active{% endif %}">
      <a href="{{ archived_organisation_list_url }}">
        <i class="fas fa-archive mr-3"></i>
        Archived Organisations
      </a>
    </li>
    <li>
      <div class="has-child">
        <a onclick="toggleSubMenu('verify-certificates')">
          <i class="fas fa-certificate mr-3"></i>
          Verify Certificates
        </a>
        <span onclick="toggleSubMenu('verify-certificates')" class="drop-arrow">
          <img src="{% static 'images/arrow.svg' %}"/>
        </span>
      </div>
      <ul id="verify-certificates" class="collapsed">
        {% url 'validate-certificate-organisation' as validate_org_url %}
        <li>
          <a href="{{ validate_org_url }}">
            <i class="fas fa-certificate mr-3"></i>
            For Certifying Organisation
          </a>
        </li>
        {% url 'validate-certificate' as validate_url %}
        <li>
          <a href="{{ validate_url }}">
            <i class="fas fa-certificate mr-3"></i>
            For Attendee
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="https://qgis.org/community/certification/" target="_blank">
        <i class="fas fa-info-circle mr-3"></i>
        Learn about Certification
      </a>
    </li>

    <li>
      <div class="has-child">
        <a onclick="toggleSubMenu('docs')">
          <i class="fas fa-book mr-3"></i>
          Documentation
        </a>
        <span onclick="toggleSubMenu('docs')" class="drop-arrow"><img src="{% static "images/arrow.svg" %}"/></span>
      </div>
      <ul class="collapsed" id="docs">
        {% url 'docs-overview' as docs_overview_url %}
        <li class="has-child {% if request.path == docs_overview_url %}is-active{% endif %}">
          <a href="{{ docs_overview_url }}">
            Overview
          </a>
        </li>
        {% url 'docs-cert-manager' as docs_cert_manager_url %}
        <li class="has-child {% if request.path == docs_cert_manager_url %}is-active{% endif %}">
          <a href="{{ docs_cert_manager_url }}">
            Managers
          </a>
        </li>
        {% url 'docs-register-cert-org' as docs_register_cert_org_url %}
        <li class="has-child {% if request.path == docs_register_cert_org_url %}is-active{% endif %}">
          <a href="{{ docs_register_cert_org_url }}">
            Register an Organisation
          </a>
        </li>
        {% url 'docs-approval-cert-org' as docs_approval_cert_org_url %}
        <li class="has-child {% if request.path == docs_approval_cert_org_url %}is-active{% endif %}">
          <a href="{{ docs_approval_cert_org_url }}">
            Approval of an Organisation
          </a>
        </li>
        {% url 'docs-manage-cert-org' as docs_manage_cert_org_url %}
        <li class="has-child {% if request.path == docs_manage_cert_org_url %}is-active{% endif %}">
          <a href="{{ docs_manage_cert_org_url }}">
            Manage an Organisation
          </a>
        </li>
        {% url 'docs-training-centers' as docs_training_centers_url %}
        <li class="has-child {% if request.path == docs_training_centers_url %}is-active{% endif %}">
          <a href="{{ docs_training_centers_url }}">
            Training Centers
          </a>
        </li>
        {% url 'docs-course-conveners' as docs_course_conveners_url %}
        <li class="has-child {% if request.path == docs_course_conveners_url %}is-active{% endif %}">
          <a href="{{ docs_course_conveners_url }}">
            Course Conveners
          </a>
        </li>
        {% url 'docs-course-types' as docs_course_types_url %}
        <li class="has-child {% if request.path == docs_course_types_url %}is-active{% endif %}">
          <a href="{{ docs_course_types_url }}">
            Course Types
          </a>
        </li>
        {% url 'docs-courses' as docs_courses_url %}
        <li class="has-child {% if request.path == docs_courses_url %}is-active{% endif %}">
          <a href="{{ docs_courses_url }}">
            Courses
          </a>
        </li>
        {% url 'docs-create-certificate-template' as docs_create_certificate_template_url %}
        <li class="has-child {% if request.path == docs_create_certificate_template_url %}is-active{% endif %}">
          <a href="{{ docs_create_certificate_template_url }}">
            Certificate Template
          </a>
        </li>
        {% url 'docs-payments' as docs_payments_url %}
        <li class="has-child {% if request.path == docs_payments_url %}is-active{% endif %}">
          <a href="{{ docs_payments_url }}">
            Payments
          </a>
        </li>
        {% url 'docs-issuing-certificates' as docs_issuing_certificates_url %}
        <li class="has-child {% if request.path == docs_issuing_certificates_url %}is-active{% endif %}">
          <a href="{{ docs_issuing_certificates_url }}">
            Issuing Certificates
          </a>
        </li>
        {% url 'docs-getting-help' as docs_getting_help_url %}
        <li class="has-child {% if request.path == docs_getting_help_url %}is-active{% endif %}">
          <a href="{{ docs_getting_help_url }}">
            Getting Help
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<script>
  function rotateArrow(e) {
    e.previousElementSibling.querySelector('img').classList.toggle('rotated');
  }

  function toggleSubMenu(listId) {
    console.log(listId)
    let e = document.getElementById(listId);
    e.classList.toggle('unfolded');
    rotateArrow(e);
  }

  function toggleMenu() {
    document.getElementById('sidebar').classList.toggle('visible');
    document.getElementById('hamburger-btn').classList.toggle('open');
  }
  // expand active section
  document.querySelectorAll('li.is-active,li:has(.is-active)').forEach(li => {
    if (e = li.querySelector('ul')) {
      e.classList.toggle('unfolded');
    }
  });
</script>
